/* FILENAME: navbar.css */

@import "./const-vars.css";
@import "./typography.css";


#main-nav-list {
    font-family: var(--FONT-BODY);
    display: flex;
    flex-direction: row;
    gap: 20px;

    list-style: none;
}

#main-nav-list a {
    text-decoration: none;
}