/* FILENAME: navbar.css */

@import "./const-vars.css";
@import "./typography.css";


#main-nav-list {
    font-family: var(--FONT-BODY);
    display: flex;
    flex-direction: row;
    gap: 20px;

    list-style: none;
}

#main-nav-list a {
    text-decoration: none;
    color: var(--COLOR-TEXT-MUTED);
    transition: .25s ease-in-out;

    display: inline-block;
}

#main-nav-list a:hover {
    text-decoration: none;
    color: var(--COLOR-ACCENTS);
    border-bottom: 3px solid var(--COLOR-ACCENTS);
    transform: scale(1.1);
}

#main-nav-bar {
    display: flex;
    flex-direction: row;
    gap: 30px;

    padding: 10px;
}

#main-nav-bar a.active {
    color: var(--COLOR-ACCENTS);
    border-bottom: 3px solid var(--COLOR-ACCENTS);
    font-weight: 700;

}